<div class="row">
  <div class="column">
    <!-- Main information, edit it on theme/_config.yml -->
    <h2 class="mb-2"><%= theme.owner %></h2>
    <p><%= theme.info %></p>
    <br>
    <p id="pretentious-description">
      In addition, I'm a budding Backend Developer/DevOps Engineer with a love for elegant systems
       which deliver high performance and top-notch security, and that 
       are benifical to both the users and 🌍.
    </p>
    <br>
    <p id="interest-list">
      My current topics of interest include:
      <ul>
        <li>Finding a way out of the <a href="https://fee.org/articles/harvard-study-an-epidemic-of-loneliness-is-spreading-across-america/" target="_blank" ref="noreferrer" >loneliness epidemic</a> using social technology.</li>
        <li>Further understanding "cloud native" development at scale.</li>
        <li>Getting my hands dirty with the <a href="https://www.rust-lang.org/" ref="noreferrer" target="_blank">Rust programming language</a> and systems programming.</li>
      </ul>
    </p>
    <br>
    <p id="cool-info">
      Outside of the technical realm, I enjoy writing about current social issues and music. Especially <a href="https://underdusken.no/cse?q=Erik+Peralta+L%C3%B8vaas" ref="noreferrer" target="_blank">music</a>. 
      Furthermore, I'm also a moderately succesful amateur chef who ocassionally likes to enjoy the outdoors 🌲.
    </p>
    <br>
  </div>
</div>

<h3>Recent Posts</h3>

<% site.posts.sort('date', 'desc').limit(theme.max_post).forEach(function(post){ %>
<div class="row">

  <div class="three columns left lit">
    <p class="bottom"><%- full_date(post.date, 'll') %></p>
  </div>
  <div class="nine columns left mb-3">
    <a href="<%- url_for(post.path) %>" >
      <% if (post.title == "") { %>
        no title
      <% } else { %>
        <%- post.title %>
      <% } %>
    </a>
  </div>
</div>
<% }) %>

<h4> <a href="<%= config.root %>archives">All Posts</a></h4>
